<header>
    <div class="container">
        <div class="heading-wrapper">
            <div class="row">
                <div class="  animated fadeIn col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-location-outline"></i>
                        <div class="right-area">
                            <h5>{{_info.info.poblacion}}</h5>
                            <h5>{{_info.info.ciudad}}</h5>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->

                <div class="  animated fadeIn col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <div class="right-area">
                            <h5>{{ _info.info.tlf }}</h5>
                            <h6>MON - FRI, 9AM - 5PM</h6>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->

                <div class="  animated fadeIn col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <div class="right-area">
                            <h5>{{ _info.info.email }}</h5>
                            <h6>REPLY IN 24 HOURS</h6>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->
            </div>
            <!-- row -->
        </div>
        <!-- heading-wrapper -->


    </div>
    <!-- container -->
</header>