<section class="skills-section section" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-text">
                <div class="heading">
                    <h3><b>Technical Skills</b></h3>
                    <h6 class="font-lite-black"><b>I'M GOOD AT</b></h6>
                </div>
            </div>
            <!-- col-sm-12 -->

            <div class="col-sm-12 col-md-6">
                <h4><b>HTML & CSS</b></h4>
                <h6 class="expert">EXPERT</h6>

                <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi citur at.</p>

                <div class="pb-4 ">
                    <p>
                        <ngb-progressbar type="warning " height="10px" value="25 "></ngb-progressbar>
                    </p>
                    <p class="progress-title "><b>HTML <span>95%</span></b></p>

                </div>

                <div class="pb-4 ">
                    <p>
                        <ngb-progressbar type="warning " height="10px" value="15 "></ngb-progressbar>
                    </p>
                    <p class="progress-title "><b>CSS <span>15%</span></b></p>

                </div>

            </div>
            <!-- col-md-6 -->

            <div class="col-sm-12 col-md-6 ">
                <h4><b>GRAPHIC DESIGN</b></h4>
                <h6 class="expert ">EXPERT</h6>

                <p class="margin-tb-30 ">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi citur at.</p>

                <div class="pb-4 ">
                    <p>
                        <ngb-progressbar type="warning " height="10px" value="75 "></ngb-progressbar>
                    </p>
                    <p class="progress-title "><b>PHOTOSHOP <span>75%</span></b></p>

                </div>
                <div class="pb-4 ">
                    <p>
                        <ngb-progressbar type="warning " height="10px" value="85 "></ngb-progressbar>
                    </p>
                    <p class="progress-title "><b>PAINT <span>85%</span></b></p>

                </div>

            </div>
            <!-- col-md-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- skills-section -->